{% extends 'base.html' %}
{% load static %}
{% block title %}文件列表{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'user/list.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
{% endblock %}
{% block content %}
    <table class="table table-hover table-bordered" id="table">
        <tr class="success" id="title">
            <th id="row">序号</th>
            <th id="name">名称</th>
            <th>操作</th>
        </tr>
    </table>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        var result;

        function getjson() {
            $.ajax({
                url: "{% url 'list_json'%}",
                type: "GET",
                data: {},
                cache: false,
                async: false,
                success: function (data) {
                    if (data['status'] == 'ERROR') {
                        alert(data['status']);
                    }
                    result = data;
                }
            });
        }

        function download() {
            var value = $(this);
            alert("value:",value);
            var url = "{% url 'file_download' %}";
            {#ajax进行下载#}
            var form = $("<form></form>")
                .attr("action", url)
                .attr("method", "get");
            form.append($("<input></input>")
                .attr("type", "hidden")
                .attr("name", "filename")
                .attr("value", 'logo.png'));
            form.appendTo('body').submit().remove();
        }

        {# 自动加载 #}
        window.onload = function add() {
            getjson();
            var i, j;
            {# 文件数 #}
            var length = result.file_name_list.length;
            for (i = 0; i < length; i++) {
                for (j = 0; j < length; j++) {
                    if (i == j) {
                        var text1 = "<tr class=\"success\" id=\"title\">\n" +
                            "            <th id="+j+">" + j + "</th>\n" +
                            "            <th id=\"name\">" + result.file_name_list[i] +
                            "</th>\n" + "<th><button " +
                            "class=\"btn btn-primary\" id=\"btn\">\n" +
                            "下载\n" + "</button></th>\n</tr>";
                        $("#table").append(text1);
                    }
                }
            }
        }

        $("#btn",this).click(function () {
           var value = $(this).parents("tr").find("#name").val();
           alert("value:",value);
        });
    </script>
{% endblock %}