{% extends 'base.html' %}
{% load static %}
{% block title %}文件列表{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'user/list.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
{% endblock %}
{% block content %}
    <table class="table table-hover table-bordered" id="table">
        <tr class="success">
            <th>名称</th>
            <th>操作</th>
            <th>操作</th>
        </tr>
        {% for filed in file_name_list %}
            <tr class="success">
                <th><h4>{{ filed }}</h4></th>
                <th>
                    <button class="btn btn-primary">下载</button>
                </th>
                <th>
                    <button class="btn btn-danger">删除</button>
                </th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table").find('button').click(function () {
                var name = $(this).text();
                var hang = $(this).parent().parent().prevAll().length;
                var select = $("h4").eq(hang - 1).text();
                if (name == "下载") {
                    var url = "{% url 'file_download' %}";
                    {#ajax进行下载#}
                    var form = $("<form></form>")
                        .attr("action", url)
                        .attr("method", "get");
                    form.append($("<input></input>")
                        .attr("type", "hidden")
                        .attr("name", "filename")
                        .attr("value", select));
                    form.appendTo('body').submit().remove();
                }
                else {
                    var url = "{% url 'file_delete' %}";
                    var r = confirm("确定删除吗");
                    if (r == true) {
                        {#ajax进行删除#}
                        var form = $("<form></form>")
                            .attr("action", url)
                            .attr("method", "get");
                        form.append($("<input></input>")
                            .attr("type", "hidden")
                            .attr("name", "filename")
                            .attr("value", select));
                        form.appendTo('body').submit().remove();
                    }
                }
            })
        })
    </script>
{% endblock %}