{% extends 'form.html' %}
{% block others_buttons %}
    <button id="send_code" class="btn btn-primary">发送验证码</button>
{% endblock %}
{% block script_extends %}
    <script type="text/javascript">
        $('#send_code').click(function () {
            {#发送验证码后禁止修改邮箱#}
            $("#id_email").addClass('disabled');
            $("#id_email").attr('disabled', true);
            var email = $("#id_email").val();
            if (email == "") {
                $("#tip").text('邮箱不能为空');
                return false;
            }
            $.ajax({
                url: "{% url 'send_msg_verification_code' %}",
                type: "GET",
                data: {
                    'email': email,
                    'send_for': 'forgot_password_code'
                },
                cache: false,
                success: function (data) {
                    if (data['status'] == 'ERROR') {
                        alert(data['status']);
                    }

                }
            });
            {#    使发送按钮变灰#}
            $(this).addClass('disabled');
            $(this).attr('disabled', true);
            var time = 30;
            $(this).text(time + 'S');
            var interval = setInterval(() => {
                if (time < 1) {
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('发送验证码');
                    return false;
                }
                time--;
                $(this).text(time + 'S');
            }, 1000);
        });
    </script>
{% endblock %}