{% extends 'base.html' %}
{% block title %}个人信息{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block header_extens %}
    <script type="text/javascript"
            src="//connect.qq.com/qc_jssdk.js" charset="utf-8" data-callback="true"></script>
{% endblock %}
{% block content %}
    <div class="containter">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                {% if user.is_authenticated %}
                    <h2>欢迎您~{{ user.username }}</h2>
                    <ul>
                        <li>
                            {% if user.get_nickname %}
                                昵称：{{ user.get_nickname }}
                                <a href="{% url 'change_nickname' %}?from={{ request.get_full_path }}">
                                    修改昵称
                                </a>
                            {% else %}
                                昵称:未设置
                                <a href="{% url 'change_nickname' %}?from={{ request.get_full_path }}">
                                    设置昵称
                                </a>
                            {% endif %}
                        </li>
                        <li>
                            {% if user.get_phone %}
                                电话:{{ user.get_phone }}
                                <a href="{% url 'change_phone' %}?from={{ request.get_full_path }}">
                                    修改手机号
                                </a>
                            {% else %}
                                电话:未设置
                                <a href="{% url 'bind_phone' %}?from={{ request.get_full_path }}">
                                    绑定手机号
                                </a>
                            {% endif %}
                        </li>
                        <li>邮箱：
                            {% if user.email %}
                                {{ user.email }}
                                <a href="{% url 'change_email' %}?from={{ request.get_full_path }}">修改邮箱</a>
                            {% else %}
                                未绑定
                                <a href="{% url 'change_email' %}?from={{ request.get_full_path }}">绑定邮箱</a>
                            {% endif %}
                        </li>
                        <li>最近登陆:{{ user.last_login|date:"Y-m-d H:i:s" }}</li>
                        <li><a href="{% url 'change_password' %}">修改密码</a></li>
                        {% if user.is_staff or user.is_superuser %}
                            <li><a href="{% url 'file_list' %}">文件列表</a></li>
                            <li><a href="{% url 'read_info' %}">阅读分析</a></li>
                        {% endif %}
                    <li><a href="{% url 'user_avatar' %}">修改头像</a> </li>
                    </ul>
                {% else %}
                    <span>退出成功，跳转到首页</span>
                    <script type="text/javascript">
                        window.location.href = "/";
                    </script>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}