h3.home-content {
    font-size: 222%;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
}

div#container {
    margin: 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
}

div.hot-data {
    text-align: left;
    margin-top: 2em;
}

h3.hot-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
    margin-right: 4em;
}

div.content-item {
    margin-left: 10em;
    margin-right: 6em;
}

a:link {
    color: #000000
}

h3.type-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
    margin-right: 4em;
}
div.images{
    text-align: center;
}