{% extends 'base.html' %}
{% load static %}
{% block title %}访问统计{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'user/list.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4> 访问统计 </h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered" style="table-layout: fixed">
                            <tr class="success">
                                <th>标题</th>
                                <th>IP地址</th>
                                <th>用户</th>
                                <th>阅读时间</th>
                            </tr>
                            {% for field in read_info %}
                                <tr class="success">
                                    <th><h4>{{ field.content_object.title }}</h4></th>
                                    <th><h4>{{ field.ip_address }}</h4></th>
                                    <th><h4>{{ field.user }}</h4></th>
                                    <th><h4>{{ field.view_time|date:"Y-m-d H:i:s" }}</h4></th>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}